body{
    background-color:#d6dfeb;
}

header{
    background-color: #4ECDC4 ;
}

header h1{
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}

section #userTaskInput{
    background-color: #f5f5f5;  /* soft light gray */
    border: none; 
}

section #userTaskInput::placeholder{
    color: gray;
}

#taskBlock #taskContext{
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}